@model InmobiliariaWebApp.Models.Contrato

@{
    ViewData["Title"] = "Detalles del Contrato";
}

<h1>Detalles del Contrato</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Inquilino)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Inquilino.NombreCompleto)</dd>
        
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Inmueble)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Inmueble.Direccion)</dd>

        <dt class = "col-sm-2">Dueño del Inmueble</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Inmueble.Dueño.NombreCompleto)</dd>
        
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.FechaInicio)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.FechaInicio)</dd>
        
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.FechaFin)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.FechaFin)</dd>
        
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.MontoAlquiler)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.MontoAlquiler)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index">Volver al Listado</a>
</div>