@model InmobiliariaWebApp.Models.Contrato

@{
    ViewData["Title"] = "Detalles del Contrato";
}

<h1>Detalles del Contrato</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">Inquilino</dt>
        <dd class = "col-sm-9">@Model.Inquilino?.NombreCompleto</dd>
        
        <dt class = "col-sm-3">Inmueble</dt>
        <dd class = "col-sm-9">@Model.Inmueble?.Direccion</dd>

        <dt class = "col-sm-3">Dueño del Inmueble</dt>
        <dd class = "col-sm-9">@Model.Inmueble?.Dueño?.NombreCompleto</dd>
        
        <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.FechaInicio)</dt>
        <dd class = "col-sm-9">@Model.FechaInicio.ToShortDateString()</dd>
        
        <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.FechaFin)</dt>
        <dd class = "col-sm-9">@Model.FechaFin.ToShortDateString()</dd>
        
        <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.MontoAlquiler)</dt>
        <dd class = "col-sm-9">@Model.MontoAlquiler.ToString("C")</dd>
    </dl>

    @if (User.IsInRole("Administrador") && Model.Creador != null)
    {
        <hr />
        <h4>Información de Auditoría</h4>
        <dl class="row">
            <dt class="col-sm-3">Contrato Creado Por</dt>
            <dd class="col-sm-9">@Model.Creador.Nombre @Model.Creador.Apellido</dd>
        </dl>
    }
</div>
<br/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index">Volver al Listado</a>
</div>