@model IEnumerable<InmobiliariaWebApp.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn btn-create">Crear Nuevo Contrato</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
            <th>@Html.DisplayNameFor(model => model.FechaFin)</th>
            <th>@Html.DisplayNameFor(model => model.MontoAlquiler)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Inquilino?.NombreCompleto</td>
            <td>@item.Inmueble?.Direccion</td>
            <td>@item.FechaInicio.ToShortDateString()</td>
            <td>@item.FechaFin.ToShortDateString()</td>
            <td>@String.Format("{0:C}", item.MontoAlquiler)</td>
            <td class="action-buttons">
                 <a asp-action="Renovar" asp-route-id="@item.Id" class="btn btn-create btn-sm">Renovar</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-details btn-sm">Detalles</a>
                <a asp-controller="Pago" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Pagos</a>
                <a asp-action="Terminar" asp-route-id="@item.Id" class="btn btn-delete btn-sm">Terminar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
